body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,menu,figure,figcaption，section{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
em{font-style: normal}

.Nl_puc{
  background: #f3f5f6;
  width: 100%;
}

header,section,#n_bottom,footer{margin: 0 auto;width: 1204px;}

#n_headwrap{
  width: 100%;
  background: #fff;
}

header{
  height: 202px;
  overflow: hidden;

}

.n_headtop{
  height: 40px;
  background:#fff;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  line-height: 38px;
}

.n_topl{
  float: left;
  color: #666;
}
.n_topl span:nth-of-type(1){
  margin-right: 38px;
}
.n_topl em{
  font-style: normal;
}
header .n_icon{
 
  display: inline-block;
  vertical-align: middle;
 
  position: relative;
}
.n_icondz{
  background: url(../img/nl_img/icon.png) no-repeat;
  background-position: 0 0;
  height: 14px;
  width: 11px;
  top:-1px;
  margin-right: 2px;
}
.n_topl span:nth-of-type(3){
  margin-left: 10px;
  cursor: pointer;
}

.n_icondlist{
  background: url(../img/nl_img/icon.png) no-repeat;
  background-position:-233px 0;
  height: 4px;
  width: 7px;
  top:-2px;
  margin-left: 2px;
}


.n_topl span:nth-of-type(3):hover em{
  color: #ff7800;
}

.n_topr{
  float: right;
  color: #666;
}

.n_topr span{
  padding: 0 13px;
  border-right: 1px solid #ddd;
}
.n_topr span:nth-of-type(3){
  border-right: none;
  width: 80px;
  display: inline-block;
}

.n_login a{
  color: #ff7800;
}

.n_clock{
  background: url(../img/nl_img/icon.png) -14px 0 no-repeat;
  height: 15px;
  width: 15px;
  top: -1px;
  margin-right: 5px;
}

.n_iconbot{
  background: url(../img/nl_img/icon.png) -232px 0 no-repeat;
  height: 4px;
  width: 7px;
  top: -2px;
  margin-left: 5px;
}

.n_phone{
  background: url(../img/nl_img/icon.png) -32px 0 no-repeat;
  height: 15px;
  width: 11px;
  margin-right: 5px;
}

/* logo部分 */
.n_headcenter{
  padding: 28px 0;
  background: #fff;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

/* 搜索 */
.n_search{
  width: 480px;
  height: 38px;
  border: 2px solid #ff7800;
  padding: 0;
  border-radius: 2px;
  margin: 8px 0 0;
  overflow: hidden;
}
.n_iconsearch{
  background: url(../img/nl_img/icon.png) -211px -17px no-repeat;
  height: 16px;
  width: 16px;
  margin: 0 11px;
}
.n_searchbox{
  font-size: 14px;
  color: #ccc;
  width: 364px;
  background: #fff;
  border: none;
  height: 38px;
  line-height: 38px;
  outline: 0;
  color: #666;
}

.n_searchbtn{
  font-size: 16px;
  color: #fff;
  background: #ff7800;
  width: 78px;
  cursor: pointer;
  border: none;
  height: 38px;
  line-height: 38px;
}
/* 订单 */
.n_useinfo{
  text-align: center;
  font-size: 14px;
}
.n_useinfo a{
  display: block;
  width: 120px;
  padding: 10px 0;
  border: 1px solid #ddd;
  height: 22px;
  float: left;
}
.n_useinfo a:nth-of-type(1){
  border-right: 0;
}

.n_useinfo a:hover{
  color: #ff7800;
}

.n_iconuse{
  background: url(../img/nl_img/icon.png) -46px 0 no-repeat;
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

.n_order{
  background: url(../img/nl_img/icon.png) -69px 0 no-repeat;
  height: 18px;
  width: 16px;
  margin-right: 7px;
}

/* 导航 */
nav{
  position: relative;
  
}

.n_menuleft{
  line-height: 42px;
  background: #ff7800;
  color: #fff;
  border-radius: 2px 2px 0 0;
  text-indent: 18px;
  width: 240px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.n_menuleft h2{
  font-size: 16px;
}

.n_menu{
  position: relative;
  left: 280px;
  overflow: hidden;
}

.n_menu  ul li{  
  float: left;
}

.n_menu ul .n_mainmenu{
  font-size: 18px;
  font-weight: 700;
  padding: 0 30px;
}
.n_mainmenu a{
  color: #525b5f;
  display: block;
  padding: 5px 0 10px;
}

.n_mainmenu a:hover{
  color: #ff7800;
}

.n_hdindex{
  height: 3px;
  width: 36px;
  background: #ff7800;
  position: absolute;
  bottom: 0;
  left: 30px;
  overflow: hidden;
}