.xc_shouye_lunbo{
	width: 1206px;
	
	border: 1px red solid;
}
.xc_lunbo{
	width: 100%;
	height: 363px;
	background-color: red;
}
.xc_lunbo>div:nth-of-type(1){width: 240px;height: 100%; background-color: antiquewhite;float: left;}
.xc_lunbo>div:nth-of-type(2){width: 759px;height: 100%; background-color: deeppink;float: left;}
.xc_lunbo>div:nth-of-type(3){width: 207px;height: 100%; background-color: chocolate;float: left;}
.xc_lunbo>div>div{height: 90px;border-bottom: 1px red solid;}
.xc_chengshizhoubiaoyou{
	width: 100%;
	height: 867px;
	
	overflow: hidden;
}
.xc_zbjq{
	width: 100%;
    height: 397px;
	background-color: pink;
}
.xc_zbjq>img{width: 100%}
.xc_jingxuanzhuti{
	width: 100%;
	height: 374px;
	background-color: aqua;
}
.xc_jingxuanzhuti>img{width: 100%;height: 100%}
.xc_lunbo>div>div>div:nth-of-type(1){float: left;color: red}
.xc_lunbo>div>div>div:nth-of-type(2){border: 1px red solid;width: 50px;height:50px;color:royalblue}
.xc_shangheyuan>img{width: 100%;height: 100%}
/* 轮播样式 */
#banner { position: relative; width: 100%; height: 100%; border: 1px solid #666; overflow: hidden; }
#banner_list img { border: 0px;width: 759px;height: 100% }
#banner_bg { position: absolute; bottom: 0; background-color: #000; height: 30px; filter: Alpha(Opacity=30); opacity: 0.3; z-index: 1000; cursor: pointer; width: 478px; }
#banner_info { position: absolute; bottom: 0; left: 5px; height: 22px; color: #fff; z-index: 1001; cursor: pointer }
#banner_text { position: absolute; width: 120px; z-index: 1002; right: 3px; bottom: 3px; }
#banner ul { position: absolute; list-style-type: none; filter: Alpha(Opacity=80); opacity: 0.8; z-index: 1002; margin: 0; padding: 0; bottom: 3px; right: 5px; }
#banner ul li { padding: 0px 8px; float: left; display: block; color: #FFF; background: #6f4f67; cursor: pointer; border: 1px solid #333; }
#banner ul li.on { background-color: #000; }
#banner_list a { position: absolute; }